* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: uppercase;
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(69, 111, 123, 0.656);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    background-color: rgb(250, 247, 242);
    margin: 5% auto;
    padding: 1rem;
    width: 600px;
    height: 600px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.movie-poster-modal{
    width: 300px;
}


.movie-poster-container img {
    margin-top: 1rem;
    height: 500px;
    border-radius: 1.1rem;
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 1rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content:"\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;

}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerImg{
    width: 75%;
    text-align: center;
    margin: 1.4rem auto;
}

.carousel{
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img{
    width: 100%;
}

.carousel .carousel__item, 


.carousel .carousel__item--hidden{
    display: none;

}

.carousel .carousel__item--visible{
    display: block;
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.carousel .carousel__actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel .carousel__actions button{
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgba(151, 106, 109, 0.537);
    font-size: 2rem;
    color: rgb(13, 14, 14);
    margin: 0.5rem;

}



footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}

.movie-poster {
    width: 300px;
    cursor: pointer;
}